a,
a:visited,
a:active {
    text-decoration: none;
    transition: color 0.2s;
}



body {
    background-color: var(--main-background-color);
    font-family: var(--body);
}

h1,
h2,
h3 {
    font-family: var(--titles), serif;
}

h1 {
    font-size: var(--text-3xl);
}

h2 {
    font-size: var(--text-2xl);
}

h3 {
    font-size: var(--text-xl);
}

button,
input,
select,
textarea {
    appearance: none;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}


figcaption {
    font-size: 0.7rem;
    color: var(--gris);
    margin-top: 0.5rem;
}