@media (max-width: 430px) {
    .nav {
        width: 100vw;
        min-width: 0;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .nav__link {
        font-size: 1.1rem;
    }

    .hero__title {
        font-size: 1.5rem;
    }

    .hero__subtitle {
        font-size: 1.1rem;
    }
}