:root {
    --article: oklch(0.4299 0.1561 33.62);
    --gris: oklch(0.5899 0.0125 89.78);
    --main-background-color: oklch(0.97 0.0205 91.58);
    --main-pop-of-color: oklch(0.5827 0.216392 32.7584);
    --pop-of-color-light: oklch(0.77 0.1308 71.23);
    --noir-de-base: oklch(0 0 0);
    --blanc-de-base: oklch(1 0 0);

    --body: Poppins;
    --titles: Merriweather;

    --text-mentions-legales: 0.5rem;
    --text-footer: 0.625rem;
    --text-secondairy-info: 0.625rem;
    --text-s: 0.8125rem;
    --text-xl: 0.9375rem;
    --text-menu: 1.125rem;
    --text-2xl: 1.25rem;
    --text-3xl: 1.875rem;

    --space-sm: 0.125rem;
    --space-base: 0.25rem;
    --space-unit: 0.25rem;
    --space-md: 0.5rem;
    --space-lg: 0.75rem;
    --space-xl: 1rem;
    --space-2xl: 1.25rem;
    --space-3xl: 1.5rem;
    --space-4xl: 2rem;
    --space-5xl: 2.5rem;
    --space-6xl: 3.25rem;
}