.header__menu-btn.is-open .menu-btn__bar--top {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: top 0.3s, transform 0.3s;
}


.header__menu-btn.is-open .menu-btn__bar--bottom {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: top 0.3s, transform 0.3s;
}

.menu-btn__bar {
    transition: top 0.3s, transform 0.3s, opacity 0.3s;
}


.header {
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: var(--space-xl) var(--space-3xl) 0 var(--space-3xl);
    box-sizing: border-box;
    transition: background 0.3s, opacity 0.3s, transform 0.3s;
}

.header--scrolled {
    background: var(--main-pop-of-color);
}

body:not(.page--home) .header {
    background: var(--main-pop-of-color);
}

.header__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 4.5rem;
}

.header__logo {
    display: flex;
    align-items: center;
    height: 3.5rem;
    width: auto;
    margin-bottom: 0;
}

.header__logo-image {
    height: 4.6rem;
    width: auto;
    display: block;
}

.header__controls {
    display: flex;
    align-items: center;
    gap: var(--space-2xl);
}

.header__language {
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

.header__language-option {
    font-family: var(--body), sans-serif;
    font-size: var(--text-menu);
    font-weight: 700;
    text-decoration: none;
    padding: 0.1rem 0.5rem;
    color: var(--blanc-de-base);
    opacity: 0.85;
    letter-spacing: 0.02em;
    transition: opacity 0.2s;
}

.header__language-option:hover {
    text-decoration: none;
}

.header__language-option--active {
    opacity: 1;
    color: var(--blanc-de-base);
    text-decoration: none;
}

.header__language-option--inactive {
    opacity: 0.6;
}

.header__menu-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2000;
    margin-left: 0;
    margin-right: 0;
    box-shadow: none;
    border-radius: 50%;
    padding: 0;
    flex-shrink: 0;
    transition: transform 0.2s cubic-bezier(.77, 0, .18, 1);

}

.header__menu-btn:active {
    transform: scale(0.92) rotate(-8deg);
}

.menu-btn__bar {
    position: absolute;
    left: 50%;
    width: 2.3rem;
    height: 0.1875rem;
    background-color: #fff;
    border-radius: 0.125rem;
    box-shadow: none;
    opacity: 1;
    transform-origin: center;
    transition: all 0.2s;
}


.menu-btn__bar--top {
    top: 40%;
    transform: translate(-50%, -50%) rotate(0deg);
}


.menu-btn__bar--bottom {
    top: 60%;
    transform: translate(-50%, -50%) rotate(0deg);
}