.about__header {
    padding-top: 6.5rem;
    margin-left: 1.2rem;
}

.about__section {
    margin-left: 1.2rem;
    margin-right: 1rem;
    font-size: var(--text-s);
}

.about__text {
    margin-top: 2rem;
    margin-bottom: 2rem;
}