/* Vendors */
@import "vendors/normalize.css";

/* Utils */
@import "utils/variables.css";

/* Base */
@import "base/main.css";
@import "base/media.css";

/* Layout */
@import "layout/header.css";
@import "layout/menu.css";
@import "layout/footer.css";

/* Components */
@import "components/hero.css";
@import "components/discovery-card.css";
@import "components/article-card.css";
@import "components/gallery-card.css";